*{
  box-sizing: border-box;
  color: #FFF;
}

body{
  margin: 0;
  font-family:'Open Sans' ;
}

h1, h2, h3, h4, p{
  margin: 0;
}

a{
  text-decoration: none;
  color: #000000;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

button{
  background: transparent;
  padding: 0;
  cursor: pointer;
}

address{
  font-style: normal;
}

.container{
  width: 1141px;
  margin: 0 auto;
}

.wrapper{
  background: #17191C;
  overflow: hidden;
}

.header{
  position: relative;
  min-height: 80px;
  padding-top: 50px;
  margin-bottom: 168px;
}

.logo , .menu , .contacts{
  position: absolute;
}


.menu{
  left: 50%;
  transform: translateX(-50%);
}

.menu__link{
  color: #FFF;
}

.contacts{
  right: 0;
}

.menu__item{
  display: inline-block;
  margin-right: 54px;
}

.menu__item:last-child{
  margin-right: 0;
}

.contacts__time{
  color: #FF3D00;
}

.contacts__freecall{
  display: block;
  color: #FFF;
}

.contacts__phone{
  display: block;
  color: #FFF;
}

.button{
  background-color: #FF3D00;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  border-radius: 35px;
  padding: 19px 55px;
  text-transform: uppercase;
}

.button--border{
  background-color: transparent;
  color: #FF3D00;
  border-color: #FF3D00;
}

.preview__title{
  text-align: center;
  font-style: normal;
  font-size: 72px;
  line-height: 98px;
  text-transform: uppercase;
  margin-bottom: 17.5px;
}

.preview__description{
  text-align: center;
  margin-bottom: 43.5px;
}

.preview__button{
  text-align: center;
  margin-bottom: 233px;
}

.new-items__item{
display: inline-block;
width: 350px;
height: 476px;
border-radius: 5px;
margin-right: 27px;
background-color: #FFF;
padding-left: 15px;
padding-top: 100px;
padding-bottom: 100px;
margin-bottom: 180px;
}

.new-items__item:last-child{
  margin-right: 0;
}

.new-items__subtitle, .new-items__info, .new-items__desc{
  color: #000000;
  padding-bottom: 20px;
}

b{
  color: #000000;
}

.news__bg{
  margin-bottom: 53px;
}

.news__title{
  margin-bottom: 51px;
}

.news__items{
display: inline-block;
margin-right: 20px;
height: 394px;
width: 557px;
position: relative;
}

.news__items:last-child{
margin-right: 0;
}

.news__content{
  position: absolute;
  bottom: 30px;
  padding: 0 29px;
}

.paginator{
  text-align: center;
  margin-bottom: 124px;
}

.paginator__display , .paginator__list , .paginator__item{
  display: inline-block;
}

.paginator__link{
  display: inline-block;
  height: 32px;
  width: 32px;
  background: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 50%;
  line-height: 32px;
  transition: 0.2s;
}

.paginator__link:hover {
  background: #FF5500;
}

.about__img{
  display: inline-block;
  width: 505px;
  height: 490px;
  background: url(cameraman.jpg);
}

.about__content{
  display: inline-block;
  width: 785px;
  height: 455px;
  margin-left: -200px;
  border-radius: 5px;
  margin-right: 27px;
  background-color: #fff;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 66px;
  margin-bottom: 68px;
}

.about__title{
  color: #000000;
  text-transform: uppercase;
  padding-top: 70px;
  padding-bottom: 37px;

  padding-left: 81px;
  font-size: 36px;
  font-weight: 800;
  line-height: 49px;
}

.about__text{
  color: #000000;
  padding-bottom: 43px;
  padding-right: 202px;
  padding-left: 81px;
}

.about__button{
  padding-left: 81px;
  padding-bottom: 66px;
}

.footer {
  position: relative; 
  text-align: center;
}

.socials__list{
  margin-bottom: 60px;
}
  
.socials__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;

}

.socials {
  right: 654px;
  top: 49px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link{
  display: inline-block;
  height: 36px;
  width: 36px;
  background: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 50%;
  line-height: 32px;
  transition: 0.2s;
}